{{#if this.name '===' 'deal-of-day-badge'}}
  <div class="custom-badge custom-badge-deal">
    <p>{{{value}}}</p>
  </div>
{{/if}}
{{#if this.name '===' 'best-seller-badge'}}
  <div class="custom-badge custom-badge-best-seller">
    <p>{{{value}}}</p>
  </div>
{{/if}}
{{#if this.name '===' 'new-badge'}}
  <div class="custom-badge custom-badge-new-product">
    <p>{{{value}}}</p>
  </div>
{{/if}}
{{#if this.name '===' 'employee-fav-badge'}}
  <div class="custom-badge custom-badge-employee-fav">
    <p>{{{value}}}</p>
  </div>
{{/if}}
{{#if this.name '===' 'selling-fast-badge'}}
  <div class="custom-badge custom-badge-selling-fast">
    <p>{{{value}}}</p>
  </div>
{{/if}}
{{#if this.name '===' 'free-shipping-badge'}}
  <div class="custom-badge custom-badge-free-shipping">
    <p>{{{value}}}</p>
  </div>
{{/if}}

